.App {
  text-align: center;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 10px;
}

.PdfButton {
 height: 40px;
}

p {
  margin: 7px;
  padding: 8px;
  border: 1px solid;
}

.Content {
  width: 350px;
  height: 100%;
  border: 1px solid;
}

.ContentBox {
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.ImageBox {
  height: 100%;
}

.AppPrefsContent {
  width: 350px;
  border: 1px solid;
}

.AppPrefs {
  align-items: center;
  border: 2px solid;
}